header {
    height: 10vh;
    padding: 10px;
    margin: 5px 5px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    position: sticky;
    top: 10px;
    background-color: white;
}

.header-class {
    display: flex;
    align-items: center;
    position: sticky;
  }

  .name {
    width: 60%;
    padding: 20px;
    margin: auto 0;
    font-size: 1em;
}

a {
    text-decoration: none;
    color: black; 
    text-decoration-color: #000;
}

a:hover {
    color: lightblue; 
    text-decoration: underline;
}

.navigation ul {
    list-style: none;
    display: flex;
    padding-right: 50px;
  }
  
  .navigation li {
    margin: 0px 10px;
    cursor: pointer;
  }
  
  .navigation li.active {
    text-decoration: underline;
}  
    
ul {
    list-style: none;
    display: flex;
}

body {
    margin: 0 auto;
    font-family: "Poppins";
    height: 90vh;
    max-width: 80%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    font-family: Arial, sans-serif;
    background-color: white;
}

main {
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.ask-user{
    margin-top: 15px;
    font-size: 14px;
    margin-bottom: 15px;
}

.contact-form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    margin-left: 20px;
    color: #000;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
    width: 100%;
    box-sizing: border-box;
}

.form-group {
    margin-bottom: 15px;
}


label {
    font-weight:normal;
}

input[type="subject"],
input[type="email"],
input[type="text"],
textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

button {
    background-color:rgb(51, 125, 150);
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

#msg{
    color: #61b752;
    margin-top: 10px;
    display: block;
}