header {
    height: 10vh;
    padding: 10px;
    margin: 5px 5px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    position: sticky;
    top: 10px;
    background-color: white;
}

.header-class {
    display: flex;
    align-items: center;
    position: sticky;
  }

  .name {
    width: 60%;
    padding: 20px;
    margin: auto 0;
    font-size: 1em;
}

a {
    text-decoration: none;
    color: black; 
    text-decoration-color: #000;
}

a:hover {
    color: lightblue; 
    text-decoration: underline;
}

.navigation ul {
    list-style: none;
    display: flex;
    padding-right: 50px;
  }
  
  .navigation li {
    margin: 0px 10px;
    cursor: pointer;
  }
  
  .navigation li.active {
    text-decoration: underline;
}  
    
ul {
    list-style: none;
    display: flex;
}

body {
    margin: 0 auto;
    font-family: "Poppins";
    max-width: 80%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    font-family: Arial, sans-serif;
    background-color: white;
}

main {
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.ask-user{
    margin-top: 15px;
    font-size: 14px;
    margin-bottom: 15px;
}

.contact-form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    margin-left: 20px;
    color: #000;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
    width: 100%;
    box-sizing: border-box;
}

.form-group {
    margin-bottom: 15px;
}


label {
    font-weight:normal;
}

input[type="subject"],
input[type="email"],
input[type="text"],
textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

button {
    background-color:rgb(51, 125, 150);
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

#msg{
    color: #61b752;
    margin-top: 10px;
    display: block;
}

  .navigation .fas {
    display: none;
  }

  @media screen and (max-width: 600px) {
    
    .header-text
    body{
        width: 100%;
    }

    .name {
        width: 50%;
        text-align: center; 
        margin-top: 20px;
    }

    .navigation ul{
        background-color:rgb(51, 125, 150);
        position:fixed;
        top: 0;
        right: -300px;
        width: 200px;        
        flex-direction: column;
        color: white;
        z-index: 2;
        border-radius: 10px 0px;
        transition: right 0.5s;
    }

    .navigation .fas {
        display: block;
        font-size: 25px;
        margin-top: 25px;
       margin-left: 55px;
        
      }    

    .navigation ul .fas {
        position: absolute;
        top: 0px;
        /* left: 90px; */
        right: 55px;
       
        cursor: pointer;
    }

    .navigation ul li{
        margin: 15px;
    }

    .navigation ul li a{
        color: white;
    }


    .navigation {
        margin-top: 10px;
        display: flex;
        flex: 1 1 0;
    }

    main {
        height: 65vh;
        flex-basis: 100%;
        flex-direction: column; 
        align-items: center;
        margin-bottom: 40px;
    }
    
    .content {
        width: 100%; 
        text-justify: center;
        text-align: justify;
        margin-left: 0;
        font-size: 15px;
        flex: 1 1 100%;
        max-width: 800px; 
    }

    .content a{
        display: flex;
        justify-content: center;
        align-content: center;
    }
    
    .personal {
        width: 100%;
        margin-top: 2em;
        margin-right: 280px;
        flex: 1 1 100%;
    }

    .footer {
        margin-left: 0px;
        margin-top: 1500px; 
        padding-left: 5px;
    }}
