header {
    height: 10vh;
    padding: 10px;
    margin: 5px 5px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    position: sticky;
    top: 10px;
    background-color: white;
}

.header-class {
    display: flex;
    align-items: center;
    position: sticky;
  }

  .name {
    width: 60%;
    padding: 20px;
    margin: auto 0;
    font-size: 1em;
}

a {
    text-decoration: none;
    color: black; 
    text-decoration-color: #000;
}

a:hover {
    color: lightblue; 
    text-decoration: underline;
}

.navigation ul {
    list-style: none;
    display: flex;
    padding-right: 50px;
  }
  
  .navigation li {
    margin: 0px 10px;
    cursor: pointer;
  }
  
  .navigation li.active {
    text-decoration: underline;
}  
    
ul {
    list-style: none;
    display: flex;
}

body {
    margin: 0 auto;
   font-family: "Poppins";
    height: 90vh;
    max-width: 80%;
}

.sub-title{
    text-align: center;
}

#portifolio{
    padding: 50px 10px;
}

.worklist{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),lightblue);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
    color: white;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 80%;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;

}

footer a {
    margin-right: 10px;
    margin-bottom: 0px;
    margin-top: 80px;
  }
