body {
    margin: 0;
}

.slider {
    display: flex;
    overflow: hidden;
    width: 60%; /* Set the width of the slider to 60% of the viewport */
    margin: auto; /* Center the slider */
}

img {
    width: 100%; /* Make each image take 100% of the slider width */
    transition: transform 1s ease-in-out;
}
