/* header {
    height: 10vh;
    padding: 10px;
    margin: 5px 5px;
    display: flex;
    justify-content: space-between; 
    top: 10px;
}

.header-class {
    display: flex;
    align-items: center;
  }

  .name {
    width: 60%;
    padding: 1px;
    margin-left: 65px;
    font-size: 1em;
}

ul {
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
    color: black; 
    text-decoration-color: #000;
}

a:hover {
    color: lightblue; 
    text-decoration: underline;
}


.navigation ul {
    list-style: none;
    display: flex;
    padding-right: 50px;
}

.navigation li {
    margin: 0 10px;
    cursor: pointer;
}

.navigation li.active {
    text-decoration: underline;
} */

header {
    height: 10vh;
    padding: 10px;
    margin: 5px 5px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    position: sticky;
    top: 10px;
    background-color: white;
}

.header-class {
    display: flex;
    align-items: center;
    position: sticky;
  }

  .name {
    width: 60%;
    padding: 20px;
    margin: auto 0;
    font-size: 1em;
}

a {
    text-decoration: none;
    color: black; 
    text-decoration-color: #000;
}

a:hover {
    color: lightblue; 
    text-decoration: underline;
}

.navigation ul {
    list-style: none;
    display: flex;
    padding-right: 50px;
  }
  
  .navigation li {
    margin: 0px 10px;
    cursor: pointer;
  }
  
  .navigation li.active {
    text-decoration: underline;
}  
    
ul {
    list-style: none;
    display: flex;
}

body {
    margin: 0 auto;
    font-family: "Poppins";
     height: 90vh;
     max-width: 80%;
}

.sub-title{
    text-align: center;
}

#skills{
    padding: 50px 10px;
}

.skills-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    margin-top: 50px;
}

.skills-list div{
    background-color: lightblue;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background-color 0.5s, transform 0.5s;
}

.skills-list i{
    font-size: 50px;
    margin-bottom: 30px;
}

.skills-list div h2{
font-size: 30px;
font-weight: 500;
margin-bottom: 15px;
}

.skills-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.skills-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center; 
}

footer a {
    margin-right: 10px;
    margin-bottom: 0px;
    margin-top: 80px;
  }

