
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0 auto;
   font-family: "Poppins";
    height: 90vh;
    max-width: 80%;
    
}

header {
    height: 10vh;
    padding: 10px;
    margin: 5px 5px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    position: sticky;
    top: 10px;
    background-color: white;
}

.header-class {
    display: flex;
    align-items: center;
    position: sticky;
  }

main {
    height: 65vh;
    display: flex;
    margin-bottom: 40px;
}


ul {
    list-style: none;
    display: flex;
}

footer {
    margin-left:400px;
}

.name {
    width: 60%;
    padding: 20px;
    margin: auto 0;
    font-size: 1em;
}

a {
    text-decoration: none;
    color: black; 
    text-decoration-color: #000;
}


a:hover {
    color: lightblue; 
    text-decoration: underline;
}

.navigation ul {
    list-style: none;
    display: flex;
    padding-right: 50px;
  }
  
  .navigation li {
    margin: 0px 10px;
    cursor: pointer;
  }
  
  .navigation li.active {
    text-decoration: underline;
}  
    
.content {
    width: 50%; 
    margin-left: 2em;
    float: left; 
}

.personal {
    width: 50%; 
    margin-left: 2em; 
    padding-left: 250px;
}
.personal img {
    border-radius: 100%; 
    max-width:100%; 
    height: 500px; 
    
}

#resume-link button{
    background-color:rgb(51, 125, 150);
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: white;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 450px;
    margin-top: 45px;
}

footer a {
    margin-right: 10px;
    margin-bottom: 0px;
    margin-top: 80px;
  }

  @media screen and (max-width: 600px) {
    .name {
        width: 100%;
        text-align: center; 
        margin-top: 19px;
    }

    .navigation {
        margin-top: 10px;
    }

    main {
        height: 65vh;
        display: flex;
        flex-direction: column; 
        align-items: center;
        margin-bottom: 40px;
    }
    
    .content {
        width: 100%; 
        margin-left: 0;
        font-size: 15px;
        max-width: 800px; /* Add max-width for better readability on larger screens */
    }
    
    .personal {
        width: 100%;
        margin-top: 2em; 
        margin-right: 150px;
    }

    .footer {
        margin-left: 220px;
        margin-top: 650px; 
        padding-left: 5px;
    }}